<mat-card class="example-card" appScaleOnHover>
  <mat-card-header>
    <img
      [src]="user.avatar"
      mat-card-avatar
      class="example-header-image"
      mat-card-avatar
    />
    <mat-card-title class="primary-text">{{ user.first_name }}</mat-card-title>
    <mat-card-subtitle [ngStyle]="{ color: 'var(--secondary-color)' }">{{
      user.last_name
    }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    [src]="user.avatar"
    [alt]="user.first_name + user.last_name + 'avatar'"
    height="270px"
  />
  <div [ngStyle]="{ 'padding-bottom': '7px' }">
    <mat-card-content>
      <ng-container
        *ngFor="
          let item of [
            { name: 'id', value: user.id },
            { name: 'First Name', value: user.first_name },
            { name: 'Last Name', value: user.last_name }
          ]
        "
      >
        <p class="primary-text">
          <span class="seconadary-text">{{ item.name }} :</span>
          {{ item.value }}
        </p>
      </ng-container>
      <p class="primary-text">
        <span class="seconadary-text"
          >email :
          <a class="email-link" [href]="'mailto:' + user.email">{{
            user.email
          }}</a>
        </span>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="goToViewDetailsPage(user.id)"
      >
        Veiw Details
      </button>
    </mat-card-actions>
  </div>
</mat-card>
