<div *ngIf="isLoading$ | async" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!(isLoading$ | async)">
  <div
    *ngIf="(error$ | async) && !(usersToShow$ | async)?.length"
    class="error-message"
  >
    <p>{{ error$ | async }}</p>
  </div>
  <div
    class="users-paginator-container"
    *ngIf="(usersToShow$ | async)?.length && !(error$ | async)"
  >
    <ul class="users-container">
      <li class="card-container" *ngFor="let user of usersToShow$ | async">
        <app-user-card [user]="user"></app-user-card>
      </li>
    </ul>
    <app-paginator
      *ngIf="currentPagination$ | async as pagination"
      [pageSize]="pagination?.per_page ?? 0"
      [length]="pagination?.total ?? 0"
      [pageIndex]="(pagination?.page ?? 1) - 1"
    ></app-paginator>
  </div>
</div>
